*{
    margin:0;
    box-sizing:border-box;

}

body{
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;

}

header{
    display:flex;
    width:90%;
    height:10vh;
    margin:auto;
    align-items: center;
}

.logo-container, .nav-links, .cart{
    display: flex;
}
.logo-container{
   
    flex:1;
    
}
.logo{
    margin:5px;
    font-weight:500;
}

nav 
{
    flex:2;
    
}
.nav-links{
    justify-content: space-around;
    list-style: none;
    
}
.nav-link a{
    text-decoration: none;
    color:#5f5f79;
}
.nav-link{
    color:#5f5f79;
    font-size:18px;
}

.cart{
    flex:1;
    justify-content: flex-end;

}

.presentation{
    display: flex;
    width: 90%;
    height:80vh;
    margin:auto;
    align-items: center;
}
.introduction{
    flex:1;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background:linear-gradient(to right,#494964 , #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: tranparent;
    
}
.intro-text{
    margin-bottom:50px;
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;

}
.cta{
    padding:20px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color:#c36cbb;
    width:150px;
    height:50px;
    cursor: pointer;
    font-size:16px;
}
.cta-add{
    border:none;
    background: #c36cbb;
    color:white;
    width:150px;
    height:50px;
    cursor: pointer;
    font-size:16px;
    margin:30px 0px 0px 20px;
}
.cover{
    flex:1;
}
.cover img{
    height: 60vh;
    margin-left: 90px;
    animation: drop 1s ease-in-out;
    filter: drop-shadow(0px 5px 3px black);  /* to add the shadow for the bottom edge of the image to the png*/
}

.big-circle{
    position: absolute;
    top:0px;
    right:0px;
    z-index:-1;
    height: 80%;
    opacity:0.7;
}
.mid-circle{
    position: absolute;
    top:40%;
    right:30%;
    z-index:-1;
    height: 60%;
    opacity:0.8;
}
.small-circle{
    position: absolute;
    top:60%;
    right:50%;
    z-index:-1;
    height: 50%;
    opacity:1;
}
.laptop-select {
    position: absolute;
    right:20%;
    display: flex;
    justify-content: space-around;
    width: 15%;
}
@keyframes drop{
    0%{
        opacity:0;
        transform: translateY(-80px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

@media screen and (max-width:1024px) and (max-height:700px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 24px;
    }
    .intro-text p{
        font-size: 15px;
    }
    .nav-links{
        padding: 10px;
    }
    .cta{
        padding:10px 0px 0px 0px;
    }
    .laptop-select{
        bottom:5%;
        right:50%;
        width:50%;
        transform: translate(60% , 5%)
    }
    .cover img{
        height:40vh;
    }
    .big-circle, .small-circle , .mid-circle{
        opacity: 0.2;
    }
}